@import "@/assets/sass/common.scss";

.tabbar-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: vw(50);
    border-top: 1px solid #f4f4f4;
    font-size: vw(14);
    display: flex;
    justify-content: space-around;
    z-index: 9999;
    background: #fff;
}
.tabbar-item {
    width: vw(75);
    height: 100%;
    font-size: vw(14);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cartNum {
        position: absolute;
        top: 0;
        right: vw(120);
        background-color: rgb(172, 0, 70);
        color: rgb(232, 230, 227);
        display: block;
        width: vw(16);
        height: vw(16);
        line-height: vw(16);
        text-align: center;
        border-radius: vw(8);
        background-color: #d70057;
        font-size: vw(14);
        z-index: 3;
    }
}
.iconfont {
    font-size: vw(20) !important;
    height: vw(28);
}
.tabbar-itemtitle {
    text-align: center;
}
