@import "@/assets/sass/common.scss";
.Search {
  height: v(100);
  text-align: center;
  /* 吸顶3步曲 */
  position: sticky;
  z-index: 10;
  top: 0;
  .am-search {
    height: 100%;
    .am-search-cancel {
      color: rgb(61, 60, 60);
    }
  }
}
